[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
time-series = {editable = true, path = "."}

[dev-packages]
jupyter = "*"
tqdm = "*"
pandas = "*"

[requires]
python_version = "3.6"
